[submodule "themes/dot-org-hugo-theme"]
	path = themes/dot-org-hugo-theme
	url = https://github.com/cncf/dot-org-hugo-theme.git
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
