body {
	height: 100%;
    min-height: 100%;
	display: flex;
	flex-direction: column;
	&.has-menu-active {
		// Stops backround moving when menu open.
		overflow: hidden;
		height: 100%;
	}
    // background: transparent linear-gradient(-305deg,#be737d,#f5e8ea) 0 0 no-repeat padding-box;
	background-color: #dcb4b9;
}

.container {
	margin: auto;
    min-height: 100%;
	width: 100%;
	max-width: 100%;
	@media (min-width: $desktop-width) {
		max-width: 100%;
	}
}

.wrap {
	padding-left: 12px;
	padding-right: 12px;
	display: flex;
	flex-direction: column;

	@media (min-width: 372px) {
		padding-left: var(--gutter);
		padding-right: var(--gutter);
	}

	@media (min-width: $desktop-width) {
		padding-left: var(--gutter);
		padding-right: var(--gutter);
	}
}

.nowrap {
	white-space: nowrap;
}

// Reusable.
.ul-reset {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	li {
		margin-bottom: 0;
	}
}

// Use for debugging
// * {
// 	outline: 1px solid rgb(60, 255, 0);
//   }

.embed-pdf-container {
	max-width: 1000px !important;
}

.pdf-paginator {
	display: none;
	visibility: hidden;
}
  
#overlayText a {
	display: inline-block !important;
	padding: 10px 20px !important;
	border-radius: 47px !important;
	background-color: var(--primary-700) !important;
	fill: var(--white) !important;
	text-transform: uppercase !important;
	text-decoration: none !important;
	line-height: 1 !important;
	text-align: center !important;
	letter-spacing: 0.7px !important;

	&:hover,
	&:active {
		fill: var(--white) !important;
		background-color: var(--primary-800) !important;
	}
}