// Define CSS variables
:root {
  --condensed-font-family: "Oswald", "Impact", "Arial Black", sans-serif, -apple-system, BlinkMacSystemFont, Roboto,
    Ubuntu;
  --rounded-font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, Roboto,
    Ubuntu, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --text-color: var(--black);
  --black: #000000;
  --white: #ffffff;
  --link-color: var(--black);
  --link-color-hover: var(--secondary);
  --menu-color: rgb(117, 0, 20);
  --menu-height-max: 200px;
  --menu-height-med: 170px;
  --menu-height-min: 140px;
  --menu-link-color: var(--black);
  --menu-link-color-hover: var(--secondary);
  --menu-text-color: var(--white)
  --footer-color: var(--white);
  --footer-link-color: var(--white);
  --footer-link-color-hover: var(--secondary);
  --gutter: 25px;
  --container-width: 90%;
  --content-width: 90%;

  --primary-400: #626a73; // grey - headers and link fade // #853838;
  --primary-500: #8b959e; // footer join us button fade
  --primary-600: #8b959e; // light blue - colors links // hsl(0, 0%, 40%);
  --primary-700: #626a73; // vivid blue - colors buttons // #853838; //hsl(198, 97%, 34%);
  --primary-800: #8b959e; // red - colors button fade // hsl(210, 4%, 30%);

  --secondary: #626a73;

  --gray-200: #626a73;
  --gray-300: #626a73;
  --gray-400: #e4e4e4;
  --gray-600: #8b959e;
  --gray-700: #767676;
  --gray-800: #8b959e; // nav fade

  // Pagefind styles from https://pagefind.app/docs/ui-usage/#customising-the-styles
  --pagefind-ui-text: var(--text-color) !important;
  --pagefind-ui-font: var(--rounded-font-family) !important;
}

// Define SCSS variables.
$desktop-width: calc(1200px + 25px + 25px);
$min-desktop: 1000px;
$mobile-max: 999px;
